body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: rgb(60, 60, 59);
}

img {
    max-width: 100%;
}

header {
    display: flex;
    background: rgb(0,255,0);
}

.svg {
    max-height: 40px;
    padding: 5px;
    margin-left: 10px;
}

.searchLense {
    margin-left:190px;
}

div {
    padding: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}